
.cart-container{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.cart-main {
    min-height: calc((100vh - 77px) - 95px);
    background-color: $color-main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 90%;
}

.cart-sections{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.carrito-tabla {
    height: fit-content;
}

.newRow-product{
    
    border: solid 3px $color-black;
    margin-bottom: 1rem;
}

.summary-card {
    position: relative;
    padding: 1rem;
    width: 350px;
    min-height: 400px;
    background-color: #272626;
    & h2 {
        color: white;
    }
}

.summary-groups {
    display: flex;
    align-items: center;
    & h4 {
        font-size: 1rem;
        color: gray;
    }
    & p {
        margin-left: 1rem;
        color: white;
        font-size: 1.2rem;
        margin-bottom: 8px;
    }
    & input {
        max-width: 75px;
        text-align: center;
        margin-bottom: 8px;
    }
}

.btn-buyNow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1rem;
    border: none;
    text-decoration: none;
    color: $color-white;
    background-color: #575555;
    transition: all 200ms;
    &:hover{
        background-color: #161616;
        color: $color-white;
    }
    &:active {
        transform: translate(0,4px);
    }
}

.delete-btn {
    background: none;
    border: none;
    color: $color-main;
    margin: 7px 5px 0 0;
    &:hover {
        color: #e44a61;
    }
    &:active {
        scale: 0.9;
    }
}

.discount-number{
    color: #e44a61;
    font-size: .8rem;
}

// <div class="">
// <button class="" id="continueToPayBtn"> Continuar compra </button>

.continueToPayBtn-div {
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.continueToPayBtn {
    width: 265px;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: $color-white;
    background-color: palevioletred;
    border: solid 3px #d85681;
    transition: all 200ms;
    &:hover{
        background-color: #d85681;
        color: $color-white;
    }
    &:active {
        scale: 0.9;
    }
}


.cart-counter {
    position: absolute;
    top: 0;
    right:0;
    width: 1rem;
    height: 1rem;
    background-color: #e44a61;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

.cart-nav-link {
    position: relative;
    & i {
        font-size: 1.1rem;
    }
}

// PAYMENT

