.payment-main {
    min-height: calc((100vh - 77px) - 95px);
    background-color: $color-main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.payment-container-div {
    padding: 2rem;
    margin: 25px 0 50px 0;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    & button{
        margin-top: 1rem;
        width: 100%;
        height: 3rem;
        background-color: palevioletred;
        border: solid 3px #d85681;
        &:hover{
            background-color: #d85681;
        }
    }
}
.card-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    position: relative;
    & label {
        margin-bottom: .2rem;
        font-size: 1rem;
    }
    & input{
        border: none;
        border-radius: 1rem;
        padding: .2rem 1rem;
        max-width: 300px;
        outline: black;
    }
    & div{
        display: flex;
        gap: 1rem;
        & input{
            width: 4rem;
            text-align: center;
        }
    }
}

.icon-correct{
    color: #17b317;
    position: absolute;
    right: 15px;
    top: 35px;
};

.icon-incorrect{
    color: red;
    position: absolute;
    right: 15px;
    top: 35px;
}

// .group-correct{
//     color: #3eb42e;
//     & input:focus{
//         border-color: #3eb42e;
//     }
// }


// CARD EXAMPLE

.example-credit-card{
    position: relative;
    padding: 5px;
    background: linear-gradient(90deg, #FFA69E 10%, #861657 100%);
    width: 400px;
    height: 250px;
    border-radius: 1rem;
    box-shadow: 4px 4px 30px #83828298;
    transition: transform 500ms ease-out;
    &__bank {
        font-size: 1.2rem;
        color: $color-white;
        margin: 1rem 1rem 1rem 0;
        text-align: end;
    }
    &__signature {
        background-color: white;
        height: 2.5rem;
        width: 100%;
        display: none;
        & p{
            padding: .2rem;
            background-color: grey;
            width: 3rem;
            margin-bottom: 0;
            margin-left: 1rem;
            text-align: center;
            transform: rotateY(180deg);
        }
    }
    & img {
        width: 50px;
        margin-left: 1rem;
        border-radius: .5rem;
    }
    &__number {
        width: 90%;
        color: $color-white;
        margin: .5rem 1rem;
        font-size: 1.5rem;
    }
    &__valid-container {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        & h4{
            color: $color-white;
            font-size: .6rem;
            margin-bottom: 0;
        }
        & div{
            color: white;
            display: flex;
            & p {
                color: $color-white;
                font-size: 1.1rem;
                margin-bottom: 5px;
            } 
        }      
    }
    &__cardholder {
        color: $color-white;
        margin: .5rem 0 0 1rem;
        width: 70%;
    }
    &__cvv-example{
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: $color-white;
        margin-bottom: 5px;
    }
}

// PAYMENT CHECK

.payment-done {
    padding: 1.5rem;
    background-color: $color-white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & i{
        color: #3eb42e;
        font-size: 2rem;
    }
    &__confirmed {
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
    }
    &__thanks {
        text-align: center;
        font-size: 1.2rem;
    }
    &__info{
        font-size: 1.1rem;
        color: #504d4d;
    }
}

.example-credit-card-flip {
    transform: rotateY(-180deg);
        .card-chip-img{
            display: none;
        }
        .example-credit-card__signature{
            display: flex;
            align-items: center;
            justify-content: start;
        }
}

