.payment-select-main {
    min-height: calc(100vh - 172px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.payments-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.payment-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 2rem;
    background-color: $color-main;
    width: 60%;
    & h1{
        text-align: center;
        margin-bottom: 0;
        font-size: 2rem;
    }
}

.payments-groups {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    background-color: white;
    border-radius: .2rem;
    @include checkbox-style;
    & label {
        margin-left: 1rem;
    }
    & input{
        scale: 0.9;
        margin-left: 2rem;
        background-color: #f0e8e8;
    }
    & i {
        background-color: #ffffff;
        margin: 0 2.5rem 0 auto;
        font-size: 2rem;
        color: #302e2e;
    }
    &:hover{
        box-shadow: 2px 2px 25px #838181d3;
    }
}

// RESUME

.payment-resume {
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: .3rem;
    & h2 {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 700;
    }
    & h3{
        font-size: 1.2rem;
    }
}

.price-resume {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
    & span{
        font-size: .8rem;
    }
}

.resume-ul-list{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
.product-li{
    width: 80%;
    padding: .5rem;
    border-radius: 2rem;
    background-color: #f0eaea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & p {
        margin-bottom: 0;  
        margin-left: .5rem;
    }
}

.product-img-item{
    width: 3rem;
    border-radius: 50%;
}



// BUTTON

.button-div{
    display: flex;
    align-items: center;
    justify-content: end;
    width:80%;
    padding: 1rem 0 1rem 1rem;
    margin-top: 1rem;
    & button{
        color: #f0eaea;
        font-weight: 700;
        border-radius: 1.5rem;
        padding: .5rem 2rem;
        background-color: #d85681; 
        border: solid 3px #d85681;
        &:hover{
            background-color: palevioletred;
        }
        &:active{
            scale: 0.9;
        }
    }
}

// BANCARY PAY DIV

.bancary-pay-div {
    background-color: white;
    max-width: 400px;
    padding: 2rem;
    border-radius: .5rem;
    & h3{
        text-align: center;
        margin-bottom: 1rem;
        & i{
            font-size: 2rem;
            color: #239c23;
        }
    }
    & p {
        color: #383737;
        line-height: 2rem;
        text-align: center;
        & span{
            font-size: 1.3rem;
            color:#d85681;
        }
    }
}

// FINANCING DIV

.financing-div{
    display: flex;
    flex-direction: column;
    width: 60%;
    & button{
        border: none;
        border-radius: 1rem;
        height: 100px;
        display: flex;
        align-items: center;
        margin: .5rem 2rem;
        padding: 1rem;
        & p{
            font-size: 1.2rem;
            margin-bottom: 0;
            & span{
                font-size: .8rem;
            }
        }
        &:hover{
            background-color: #d85681;
            color: #f0eaea;
            scale: 1.02;
        }
        &:active{
            scale: 0.9;
        }
    }
}

.financing-amount{
    font-weight: 700;
    margin-right: .3rem;
}

.pay-amount-total {
    margin-left: auto;
    & span{
        font-size: .8rem;
    }
}

.decimals{
    color: #646262;
    font-size: .8rem;
    margin-top: 5px;
}