main {
    background-color: #e2a694;
}

.title-container{
    background-color: $color-opacity;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    &__title {
        width: fit-content; 
        font-size: 15rem;

        @include mobile-landscape-resolution{
            font-size: 10rem;
        }

        @include mobile-portrait-resolution{
            font-size: 5rem;
        }
    }
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    justify-content: space-around;
}  

.cart-table {
    border: solid 3px black;
    width: 100%;
    margin: 0 auto;
    padding: 10px; 
}

.product-card {
    position: relative;
}

.theader {
    text-align: center;
    background-color: $color-black;
    color: $color-white;
    padding: 5px;
}

.newRow-product{
    text-align: center;
    background-color: $color-opacity;
    color: $color-white;
    padding: 5px;
}

.tbody {
    text-align: center;
    color: $color-white;
    padding: 5px;
}

.buy-number {
    display: inline-block;
    width: 20%;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.cart-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.finish-btn {
    margin-top: 1rem;
    margin-left: auto;
    width: 20%;
}



// .td-delete {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     text-align: center;
//     background-color: $color-opacity;
//     color: $color-white;
//     padding: 5px;
// }


.number-amount {
    width: 50px;
    text-align: center;
}

.out-of-stock-banner-div {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    position: absolute;
    background-color: $color-opacity;
    border-radius: 5px 5px 0 0;
    & p {
        color: red;
        font-size: 2rem;
        margin-bottom: 0;
    }
}

.display-hide {
    display: none;
}
.display-show {
    display: block;
}

.fa-circle-user {
    border: solid 3px palevioletred;
    border-color: #e2a694;
    border-radius: 50%;
    font-size: 1.2rem;
}


.filters-container {
    display: flex;
    width: 90%;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 3rem auto 0;
    padding: 25px 25px 0 25px;
    &__price-filter {
        display: flex;
        flex-direction: column;
        & input {
            text-align: center;
            margin-bottom: 15px;
        }
    }
    &__find-product-id {
        display: flex;
        flex-direction: column;
        & input {
            text-align: center;
            margin-bottom: 15px;
        }
    }
}

.show-filters{
    padding: 5rem 0 0 0;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    & button {
        margin-left: 50%;
        transform: translate(-50%);
    }
}









